## One Hot Encoding

In [1]:
dd <- read.table(text="
   RACE        AGE.BELOW.21     CLASS
   HISPANIC          0          A
   ASIAN             1          A
   HISPANIC          1          D
   CAUCASIAN         1          B",
  header=TRUE)

In [2]:
dd

       RACE AGE.BELOW.21 CLASS
1  HISPANIC            0     A
2     ASIAN            1     A
3  HISPANIC            1     D
4 CAUCASIAN            1     B

In [6]:
with(dd,
       data.frame(model.matrix(~RACE-1,dd),
                  AGE.BELOW.21,CLASS))

  RACEASIAN RACECAUCASIAN RACEHISPANIC AGE.BELOW.21 CLASS
1         0             0            1            0     A
2         1             0            0            1     A
3         0             0            1            1     D
4         0             1            0            1     B

### Including all levels

In [8]:
cbind(with(dd, model.matrix(~ RACE + 0)), with(dd, model.matrix(~ CLASS + 0)))

  RACEASIAN RACECAUCASIAN RACEHISPANIC CLASSA CLASSB CLASSD
1         0             0            1      1      0      0
2         1             0            0      1      0      0
3         0             0            1      0      0      1
4         0             1            0      0      1      0

### One more approach

In [9]:
library(caret)

Loading required package: lattice
Loading required package: ggplot2
Warning message:
: package ‘ggplot2’ was built under R version 3.2.4

In [12]:
trainDummy <- dummyVars(AGE.BELOW.21 ~. , data=dd)

In [14]:
predict(trainDummy, dd)

  RACE.ASIAN RACE.CAUCASIAN RACE.HISPANIC CLASS.A CLASS.B CLASS.D
1          0              0             1       1       0       0
2          1              0             0       1       0       0
3          0              0             1       0       0       1
4          0              1             0       0       1       0

**Exercise** 

1. Do one hot encoding on the bank marketing dataset.
2. Run logistic regression on that
3. Compute accuracy metrics. Do you see any difference?
4. Does one hot encoding impact decision tree? Discuss