In [1]:
library(dplyr)
library(tidyr)
library(ggplot2)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
options(repr.plot.width = 10, repr.plot.height = 6)

In [7]:
df <- read.csv("data/cars.tidy.csv", stringsAsFactor = FALSE)
df$price_in_1000 <- df$price / 1000

In [9]:
str(df)

'data.frame':	203 obs. of  19 variables:
 $ name             : chr  "Ashok Leyland Stile" "Aston Martin Rapide" "Aston Martin Rapide S" "Aston Martin V12 Vantage" ...
 $ model            : chr  "Ashok Leyland Stile LE 8-STR (Diesel)" "Aston Martin Rapide LUXE (Petrol)" "Aston Martin Rapide S (Petrol)" "Aston Martin V12 Vantage Coupe (Petrol)" ...
 $ price            : num  749990 35000000 44000000 35000000 13500000 ...
 $ type             : chr  "MPV" "Sedan" "Sedan" "Coupe" ...
 $ engine           : int  1461 5935 5935 5935 4735 5935 1968 1968 1968 2967 ...
 $ fuel             : chr  " Diesel" " Petrol" " Petrol" " Petrol" ...
 $ weight           : chr  " 2000" NA " 1990" NA ...
 $ clearance        : num  180 120 110 120 120 147 NA 128 165 160 ...
 $ bhp              : chr  " 75 " " 350 " " 550 " " 510 " ...
 $ rpm              : chr  " 3300" " 6000" " 6750" " 6500" ...
 $ mileage_city     : chr  " 16.2" NA " 5.6" " 7" ...
 $ mileage_highway  : num  20.7 7 11.9 9 8 ...
 $ cylinders        : int  4 4 12 12 8 4 4 4 4 6 ...
 $ seats            : chr  " 8" " 4" " 4" " 2" ...
 $ transmission_type: chr  " 5 Speed Manual" " 6 Speed Automatic" " 6 Speed Manual" " 6 Speed Manual" ...
 $ brand            : chr  "Ashok" "Aston" "Aston" "Aston" ...
 $ gears            : int  5 6 6 6 6 6 6 7 8 6 ...
 $ transmission     : chr  "Manual" "Automatic" "Manual" "Manual" ...
 $ price_in_1000    : num  750 35000 44000 35000 13500 ...

In [10]:
df$mileage_city <- as.numeric(df$mileage_city)
head(df$mileage_city)

Warning message:
In eval(expr, envir, enclos): NAs introduced by coercion

[1] 16.2   NA  5.6  7.0  5.0  4.0

In [11]:
lm(price_in_1000 ~ mileage_city, data = df)

Call:
lm(formula = price_in_1000 ~ mileage_city, data = df)

Coefficients:
 (Intercept)  mileage_city
       19732         -1153