# 2. Refine the Data
 
> "Data is messy"

We will be performing the following operation on our Onion price to refine it
- **Remove** e.g. remove redundant data from the data frame
- **Derive** e.g. State and City from the market field
- **Parse** e.g. extract date from year and month column

Other stuff you may need to do to refine are...
- **Missing** e.g. Check for missing or incomplete data
- **Quality** e.g. Check for duplicates, accuracy, unusual data
- **Convert** e.g. free text to coded value
- **Calculate** e.g. percentages, proportion
- **Merge** e.g. first and surname for full name
- **Aggregate** e.g. rollup by year, cluster by area
- **Filter** e.g. exclude based on location
- **Sample** e.g. extract a representative data
- **Summary** e.g. show summary stats like mean

In [46]:
library(plyr)
library(dplyr)

In [47]:
df <- read.csv('MonthWiseMarketArrivals.csv')

In [48]:
dim(df)

[1] 10228     7

In [49]:
head(df)

      market   month year quantity priceMin priceMax priceMod
1 ABOHAR(PB) January 2005     2350      404      493      446
2 ABOHAR(PB) January 2006      900      487      638      563
3 ABOHAR(PB) January 2010      790     1283     1592     1460
4 ABOHAR(PB) January 2011      245     3067     3750     3433
5 ABOHAR(PB) January 2012     1035      523      686      605
6 ABOHAR(PB) January 2013      675     1327     1900     1605

In [50]:
class(df)

[1] "data.frame"

In [51]:
sapply(df , class)

   market     month      year  quantity  priceMin  priceMax  priceMod
 "factor"  "factor"  "factor" "integer"  "factor"  "factor"  "factor"

In [52]:
tail(df,1)

      market month  year  quantity priceMin  priceMax priceMod
10228              Total 783438108 647(Avg) 1213(Avg) 984(Avg)

In [53]:
last_row <- as.numeric(rownames(tail(df, 1)))

In [54]:
df <- df[-c(last_row),]

In [55]:
dim(df)

[1] 10227     7

In [56]:
# selecting particular columns from the df
head(df %>% 
select(priceMin,priceMax,priceMod))

  priceMin priceMax priceMod
1      404      493      446
2      487      638      563
3     1283     1592     1460
4     3067     3750     3433
5      523      686      605
6     1327     1900     1605

In [57]:
sapply(head(df %>% 
select(year,quantity,priceMin,priceMax,priceMod)),class)

     year  quantity  priceMin  priceMax  priceMod
 "factor" "integer"  "factor"  "factor"  "factor"

In [58]:
#we see that all of them are factors, we know that they are integers, so lets convert

In [59]:
df$quantity <- as.numeric(as.character(df$quantity))
df$year     <- as.numeric(as.character(df$year))
df$priceMin <- as.numeric(as.character(df$priceMin))
df$priceMax <- as.numeric(as.character(df$priceMax))
df$priceMod <- as.numeric(as.character(df$priceMod))

In [60]:
head(df)

      market   month year quantity priceMin priceMax priceMod
1 ABOHAR(PB) January 2005     2350      404      493      446
2 ABOHAR(PB) January 2006      900      487      638      563
3 ABOHAR(PB) January 2010      790     1283     1592     1460
4 ABOHAR(PB) January 2011      245     3067     3750     3433
5 ABOHAR(PB) January 2012     1035      523      686      605
6 ABOHAR(PB) January 2013      675     1327     1900     1605

In [61]:
sapply(head(df %>% select(year,quantity,priceMin,priceMax,priceMod)),class)

     year  quantity  priceMin  priceMax  priceMod
"numeric" "numeric" "numeric" "numeric" "numeric"

In [62]:
sapply(df,class)

   market     month      year  quantity  priceMin  priceMax  priceMod
 "factor"  "factor" "numeric" "numeric" "numeric" "numeric" "numeric"

In [63]:
library(psych)

In [64]:
do.call(data.frame,list(
                        mean=apply(select(df,quantity,priceMin,priceMax,priceMod),2,mean),
                        sd=apply(select(df,quantity,priceMin,priceMax,priceMod),2,sd),
                        median=apply(select(df,quantity,priceMin,priceMax,priceMod),2,median),
                        min=apply(select(df,quantity,priceMin,priceMax,priceMod),2,min),
                        max=apply(select(df,quantity,priceMin,priceMax,priceMod),2,max)
                        )
        )

               mean          sd median min     max
quantity 76604.8800 124408.6988  27460  20 1639032
priceMin   646.9444    673.1219    440  16    6000
priceMax  1212.7607    979.6589    923 145    8192
priceMod   984.2843    818.4715    747  80    6400

## Extracting the states from market names

In [65]:
head(count(df,'market'))

Source: local data frame [1 x 2]

  "market"     n
     (chr) (int)
1   market 10227

In [66]:
# we see that city and state are combined, lets split them up
df$market[1]
strsplit(as.character(df$market[1]),'\\(')[[1]][2]

[1] ABOHAR(PB)
121 Levels:  ABOHAR(PB) AGRA(UP) AHMEDABAD(GUJ) AHMEDNAGAR(MS) ... YEOLA(MS)

[1] "PB)"

In [67]:
head(df)

      market   month year quantity priceMin priceMax priceMod
1 ABOHAR(PB) January 2005     2350      404      493      446
2 ABOHAR(PB) January 2006      900      487      638      563
3 ABOHAR(PB) January 2010      790     1283     1592     1460
4 ABOHAR(PB) January 2011      245     3067     3750     3433
5 ABOHAR(PB) January 2012     1035      523      686      605
6 ABOHAR(PB) January 2013      675     1327     1900     1605

In [68]:
unique(df$market)

  [1] ABOHAR(PB)               AGRA(UP)                 AHMEDABAD(GUJ)
  [4] AHMEDNAGAR(MS)           AJMER(RAJ)               ALIGARH(UP)
  [7] ALWAR(RAJ)               AMRITSAR(PB)             BALLIA(UP)
 [10] BANGALORE                BAREILLY(UP)             BELGAUM(KNT)
 [13] BHATINDA(PB)             BHAVNAGAR(GUJ)           BHOPAL
 [16] BHUBNESWER(OR)           BIHARSHARIF(BHR)         BIJAPUR(KNT)
 [19] BIKANER(RAJ)             BOMBORI(MS)              BURDWAN(WB)
 [22] CHAKAN(MS)               CHALLAKERE(KNT)          CHANDIGARH
 [25] CHANDVAD(MS)             CHENNAI                  CHICKBALLAPUR(KNT)
 [28] COIMBATORE(TN) (bellary) COIMBATORE(TN) (podisu)  DEESA(GUJ)
 [31] DEHRADOON(UTT)           DELHI                    DEORIA(UP)
 [34] DEVALA(MS)               DEWAS(MP)                DHAVANGERE(KNT)
 [37] DHULIA(MS)               DINDIGUL(TN)             DINDIGUL(TN)(Podis
 [40] DINDORI(MS)              ETAWAH(UP)               GONDAL(GUJ)
 [43] GORAKHPUR(UP)            GUWAHATI                 HALDWANI(UTT)
 [46] HASSAN(KNT)              HOSHIARPUR(PB)           HUBLI(KNT)
 [49] HYDERABAD                INDORE(MP)               JAIPUR
 [52] JALANDHAR(PB)            JALGAON(MS)              JALGAON(WHITE)
 [55] JAMMU                    JAMNAGAR(GUJ)            JODHPUR(RAJ)
 [58] JUNNAR(MS)               KALVAN(MS)               KANPUR(UP)
 [61] KARNAL(HR)               KHANNA(PB)               KOLAR(KNT)
 [64] KOLHAPUR(MS)             KOLKATA                  KOPERGAON(MS)
 [67] KOTA(RAJ)                KURNOOL(AP)              LASALGAON(MS)
 [70] LONAND(MS)               LUCKNOW                  LUDHIANA(PB)
 [73] MADURAI(TN)              MAHUVA(GUJ)              MALEGAON(MS)
 [76] MANDSOUR(MP)             MANMAD(MS)               MEERUT(UP)
 [79] MIDNAPUR(WB)             MUMBAI                   NAGPUR
 [82] NANDGAON(MS)             NASIK(MS)                NEEMUCH(MP)
 [85] NEWASA(MS)               NIPHAD(MS)               PALAYAM(KER)
 [88] PATIALA(PB)              PATNA                    PHALTAN (MS)
 [91] PIMPALGAON(MS)           PUNE(MS)                 PURULIA(WB)
 [94] RAHATA(MS)               RAHURI(MS)               RAICHUR(KNT)
 [97] RAIPUR(CHGARH)           RAJAHMUNDRY(AP)          RAJKOT(GUJ)
[100] RANCHI(JH)               SAGAR(MP)                SAIKHEDA(MS)
[103] SANGALI(MS)              SANGAMNER(MS)            SATANA(MS)
[106] SHEROAPHULY(WB)          SHIMLA                   SHRIRAMPUR(MS)
[109] SINNAR(MS)               SOLAPUR(MS)              SRIGANGANAGAR(RAJ)
[112] SRINAGAR                 SRIRAMPUR(MS)            SURAT(GUJ)
[115] TRIVENDRUM               UDAIPUR(RAJ)             UJJAIN(MP)
[118] VANI(MS)                 VARANASI(UP)             YEOLA(MS)
121 Levels:  ABOHAR(PB) AGRA(UP) AHMEDABAD(GUJ) AHMEDNAGAR(MS) ... YEOLA(MS)

In [69]:
sapply(df,class)

   market     month      year  quantity  priceMin  priceMax  priceMod
 "factor"  "factor" "numeric" "numeric" "numeric" "numeric" "numeric"

In [70]:
unlist(strsplit(as.character(df$market),'\\('))[2]

[1] "PB)"

In [71]:
grepl('\\(','BANGALORE')

[1] FALSE

In [72]:
stateSplit <- function(inpString){
    if(grepl('\\(',as.character(inpString))){
    m <- unlist(strsplit(as.character(inpString),'\\('))
    return(gsub(")","",m[2]))
    } else{
        return(as.character(inpString))
    }
}

In [73]:
citySplit <- function(inpString){
    if(grepl('\\(',as.character(inpString))){
    m <- unlist(strsplit(as.character(inpString),'\\('))
        return(m[1])
    } else{
        return(as.character(inpString))

    }
}

In [74]:
df <- data.frame(mutate(rowwise(df),
             state = stateSplit(market),
             city = citySplit(market)))

In [75]:
sapply(df,class)

     market       month        year    quantity    priceMin    priceMax
   "factor"    "factor"   "numeric"   "numeric"   "numeric"   "numeric"
   priceMod       state        city
  "numeric" "character" "character"

In [76]:
head(df)

      market   month year quantity priceMin priceMax priceMod state   city
1 ABOHAR(PB) January 2005     2350      404      493      446    PB ABOHAR
2 ABOHAR(PB) January 2006      900      487      638      563    PB ABOHAR
3 ABOHAR(PB) January 2010      790     1283     1592     1460    PB ABOHAR
4 ABOHAR(PB) January 2011      245     3067     3750     3433    PB ABOHAR
5 ABOHAR(PB) January 2012     1035      523      686      605    PB ABOHAR
6 ABOHAR(PB) January 2013      675     1327     1900     1605    PB ABOHAR

In [77]:
tail(df)

         market    month year quantity priceMin priceMax priceMod state  city
10222 YEOLA(MS) December 2010    57586      541     2713     1830    MS YEOLA
10223 YEOLA(MS) December 2011   131326      282      612      526    MS YEOLA
10224 YEOLA(MS) December 2012   207066      485     1327     1136    MS YEOLA
10225 YEOLA(MS) December 2013   215883      472     1427     1177    MS YEOLA
10226 YEOLA(MS) December 2014   201077      446     1654     1456    MS YEOLA
10227 YEOLA(MS) December 2015   223315      609     1446     1126    MS YEOLA

In [78]:
unique(df$state)

 [1] "PB"         "UP"         "GUJ"        "MS"         "RAJ"
 [6] "BANGALORE"  "KNT"        "BHOPAL"     "OR"         "BHR"
[11] "WB"         "CHANDIGARH" "CHENNAI"    "TN "        "UTT"
[16] "DELHI"      "MP"         "TN"         "GUWAHATI"   "HYDERABAD"
[21] "JAIPUR"     "WHITE"      "JAMMU"      "HR"         "KOLKATA"
[26] "AP"         "LUCKNOW"    "MUMBAI"     "NAGPUR"     "KER"
[31] "PATNA"      "CHGARH"     "JH"         "SHIMLA"     "SRINAGAR"
[36] "TRIVENDRUM"

In [79]:
unique(df$city)

  [1] "ABOHAR"        "AGRA"          "AHMEDABAD"     "AHMEDNAGAR"
  [5] "AJMER"         "ALIGARH"       "ALWAR"         "AMRITSAR"
  [9] "BALLIA"        "BANGALORE"     "BAREILLY"      "BELGAUM"
 [13] "BHATINDA"      "BHAVNAGAR"     "BHOPAL"        "BHUBNESWER"
 [17] "BIHARSHARIF"   "BIJAPUR"       "BIKANER"       "BOMBORI"
 [21] "BURDWAN"       "CHAKAN"        "CHALLAKERE"    "CHANDIGARH"
 [25] "CHANDVAD"      "CHENNAI"       "CHICKBALLAPUR" "COIMBATORE"
 [29] "DEESA"         "DEHRADOON"     "DELHI"         "DEORIA"
 [33] "DEVALA"        "DEWAS"         "DHAVANGERE"    "DHULIA"
 [37] "DINDIGUL"      "DINDORI"       "ETAWAH"        "GONDAL"
 [41] "GORAKHPUR"     "GUWAHATI"      "HALDWANI"      "HASSAN"
 [45] "HOSHIARPUR"    "HUBLI"         "HYDERABAD"     "INDORE"
 [49] "JAIPUR"        "JALANDHAR"     "JALGAON"       "JAMMU"
 [53] "JAMNAGAR"      "JODHPUR"       "JUNNAR"        "KALVAN"
 [57] "KANPUR"        "KARNAL"        "KHANNA"        "KOLAR"
 [61] "KOLHAPUR"      "KOLKATA"       "KOPERGAON"     "KOTA"
 [65] "KURNOOL"       "LASALGAON"     "LONAND"        "LUCKNOW"
 [69] "LUDHIANA"      "MADURAI"       "MAHUVA"        "MALEGAON"
 [73] "MANDSOUR"      "MANMAD"        "MEERUT"        "MIDNAPUR"
 [77] "MUMBAI"        "NAGPUR"        "NANDGAON"      "NASIK"
 [81] "NEEMUCH"       "NEWASA"        "NIPHAD"        "PALAYAM"
 [85] "PATIALA"       "PATNA"         "PHALTAN "      "PIMPALGAON"
 [89] "PUNE"          "PURULIA"       "RAHATA"        "RAHURI"
 [93] "RAICHUR"       "RAIPUR"        "RAJAHMUNDRY"   "RAJKOT"
 [97] "RANCHI"        "SAGAR"         "SAIKHEDA"      "SANGALI"
[101] "SANGAMNER"     "SATANA"        "SHEROAPHULY"   "SHIMLA"
[105] "SHRIRAMPUR"    "SINNAR"        "SOLAPUR"       "SRIGANGANAGAR"
[109] "SRINAGAR"      "SRIRAMPUR"     "SURAT"         "TRIVENDRUM"
[113] "UDAIPUR"       "UJJAIN"        "VANI"          "VARANASI"
[117] "YEOLA"

In [80]:
state_now <- c('PB', 'UP', 'GUJ', 'MS', 'RAJ', 'BANGALORE', 'KNT', 'BHOPAL', 'OR',
       'BHR', 'WB', 'CHANDIGARH', 'CHENNAI','UTT',
       'DELHI', 'MP', 'TN', 'Podis', 'GUWAHATI', 'HYDERABAD', 'JAIPUR',
       'WHITE', 'JAMMU', 'HR', 'KOLKATA', 'AP', 'LUCKNOW', 'MUMBAI',
       'NAGPUR', 'KER', 'PATNA', 'CHGARH', 'JH', 'SHIMLA', 'SRINAGAR',
       'TRIVENDRUM')

In [81]:
state_new <- c('PB', 'UP', 'GUJ', 'MS', 'RAJ', 'KNT', 'KNT', 'MP', 'OR',
       'BHR', 'WB', 'CH', 'TN', 'KNT', 'TN', 'UP',
       'DEL', 'MP', 'TN', 'TN', 'ASM', 'AP', 'RAJ',
       'MS', 'JK', 'HR', 'WB', 'AP', 'UP', 'MS',
       'MS', 'KER', 'BHR', 'HR', 'JH', 'HP', 'JK',
       'KEL')

In [82]:
df$state <- replace(df$state,state_now,state_new)

Warning message:
In replace(df$state, state_now, state_new): number of items to replace is not a multiple of replacement length

ERROR: Error in `$<-.data.frame`(`*tmp*`, "state", value = structure(c("PB", : replacement has 10263 rows, data has 10227

In [83]:
unique(df$state)

 [1] "PB"         "UP"         "GUJ"        "MS"         "RAJ"
 [6] "BANGALORE"  "KNT"        "BHOPAL"     "OR"         "BHR"
[11] "WB"         "CHANDIGARH" "CHENNAI"    "TN "        "UTT"
[16] "DELHI"      "MP"         "TN"         "GUWAHATI"   "HYDERABAD"
[21] "JAIPUR"     "WHITE"      "JAMMU"      "HR"         "KOLKATA"
[26] "AP"         "LUCKNOW"    "MUMBAI"     "NAGPUR"     "KER"
[31] "PATNA"      "CHGARH"     "JH"         "SHIMLA"     "SRINAGAR"
[36] "TRIVENDRUM"