# 2. Refine the Data
 
> "Data is messy"

We will be performing the following operation on our Onion price to refine it
- **Remove** e.g. remove redundant data from the data frame
- **Derive** e.g. State and City from the market field
- **Parse** e.g. extract date from year and month column

Other stuff you may need to do to refine are...
- **Missing** e.g. Check for missing or incomplete data
- **Quality** e.g. Check for duplicates, accuracy, unusual data
- **Convert** e.g. free text to coded value
- **Calculate** e.g. percentages, proportion
- **Merge** e.g. first and surname for full name
- **Aggregate** e.g. rollup by year, cluster by area
- **Filter** e.g. exclude based on location
- **Sample** e.g. extract a representative data
- **Summary** e.g. show summary stats like mean

In [16]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [90]:
df <- read.csv('MonthWiseMarketArrivals.csv')

In [91]:
dim(df)

[1] 10228     7

In [92]:
head(df)

      market   month year quantity priceMin priceMax priceMod
1 ABOHAR(PB) January 2005     2350      404      493      446
2 ABOHAR(PB) January 2006      900      487      638      563
3 ABOHAR(PB) January 2010      790     1283     1592     1460
4 ABOHAR(PB) January 2011      245     3067     3750     3433
5 ABOHAR(PB) January 2012     1035      523      686      605
6 ABOHAR(PB) January 2013      675     1327     1900     1605

In [93]:
class(df)

[1] "data.frame"

In [94]:
sapply(df , class)

   market     month      year  quantity  priceMin  priceMax  priceMod
 "factor"  "factor"  "factor" "integer"  "factor"  "factor"  "factor"

In [95]:
tail(df,1)

      market month  year  quantity priceMin  priceMax priceMod
10228              Total 783438108 647(Avg) 1213(Avg) 984(Avg)

In [96]:
last_row <- as.numeric(rownames(tail(inp_file, 1)))

In [97]:
df <- inp_file[-c(last_row),]

In [98]:
dim(df)

[1] 10227     7

In [99]:
# selecting particular columns from the df
head(df %>% 
select(priceMin,priceMax,priceMod))

  priceMin priceMax priceMod
1      404      493      446
2      487      638      563
3     1283     1592     1460
4     3067     3750     3433
5      523      686      605
6     1327     1900     1605

In [100]:
sapply(head(df %>% 
select(year,quantity,priceMin,priceMax,priceMod)),class)

     year  quantity  priceMin  priceMax  priceMod
 "factor" "integer"  "factor"  "factor"  "factor"

In [101]:
#we see that all of them are factors, we know that they are integers, so lets convert

In [102]:
df$quantity <- as.integer(as.character(df$quantity))
df$year     <- as.integer(as.character(df$year))
df$priceMin <- as.integer(as.character(df$priceMin))
df$priceMax <- as.integer(as.character(df$priceMax))
df$priceMod <- as.integer(as.character(df$priceMod))

In [103]:
head(df)

      market   month year quantity priceMin priceMax priceMod
1 ABOHAR(PB) January 2005     2350      404      493      446
2 ABOHAR(PB) January 2006      900      487      638      563
3 ABOHAR(PB) January 2010      790     1283     1592     1460
4 ABOHAR(PB) January 2011      245     3067     3750     3433
5 ABOHAR(PB) January 2012     1035      523      686      605
6 ABOHAR(PB) January 2013      675     1327     1900     1605

In [104]:
sapply(head(df %>% select(year,quantity,priceMin,priceMax,priceMod)),class)

     year  quantity  priceMin  priceMax  priceMod
"integer" "integer" "integer" "integer" "integer"

In [105]:
sapply(df,class)

   market     month      year  quantity  priceMin  priceMax  priceMod
 "factor"  "factor" "integer" "integer" "integer" "integer" "integer"