# 2. Refine the Data
 
> "Data is messy"

We will be performing the following operation on our Onion price to refine it
- **Remove** e.g. remove redundant data from the data frame
- **Derive** e.g. State and City from the market field
- **Parse** e.g. extract date from year and month column

Other stuff you may need to do to refine are...
- **Missing** e.g. Check for missing or incomplete data
- **Quality** e.g. Check for duplicates, accuracy, unusual data
- **Convert** e.g. free text to coded value
- **Calculate** e.g. percentages, proportion
- **Merge** e.g. first and surname for full name
- **Aggregate** e.g. rollup by year, cluster by area
- **Filter** e.g. exclude based on location
- **Sample** e.g. extract a representative data
- **Summary** e.g. show summary stats like mean

In [210]:
library(plyr)
library(dplyr)
library(tidyr)

In [211]:
df <- read.csv('MonthWiseMarketArrivalsAll.csv', stringsAsFactor = FALSE)

In [212]:
str(df)

'data.frame':	10321 obs. of  7 variables:
 $ Market              : chr  "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" ...
 $ Month.Name          : chr  "January" "January" "January" "January" ...
 $ Year                : chr  "2005" "2006" "2010" "2011" ...
 $ Arrival..q.         : int  2350 900 790 245 1035 675 440 1305 1400 1800 ...
 $ Price.Minimum..Rs.q.: chr  "404" "487" "1283" "3067" ...
 $ Price.Maximum..Rs.q.: chr  "493" "638" "1592" "3750" ...
 $ Modal.Price..Rs.q.  : chr  "446" "563" "1460" "3433" ...

In [213]:
dim(df)

[1] 10321     7

In [214]:
column_names <- c('market', 'month', 'year', 'quantity', 'priceMin', 'priceMax', 'priceMod')

In [215]:
colnames(df) <- column_names

In [216]:
head(df)

      market   month year quantity priceMin priceMax priceMod
1 ABOHAR(PB) January 2005     2350      404      493      446
2 ABOHAR(PB) January 2006      900      487      638      563
3 ABOHAR(PB) January 2010      790     1283     1592     1460
4 ABOHAR(PB) January 2011      245     3067     3750     3433
5 ABOHAR(PB) January 2012     1035      523      686      605
6 ABOHAR(PB) January 2013      675     1327     1900     1605

In [217]:
class(df)

[1] "data.frame"

In [218]:
str(df)

'data.frame':	10321 obs. of  7 variables:
 $ market  : chr  "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" ...
 $ month   : chr  "January" "January" "January" "January" ...
 $ year    : chr  "2005" "2006" "2010" "2011" ...
 $ quantity: int  2350 900 790 245 1035 675 440 1305 1400 1800 ...
 $ priceMin: chr  "404" "487" "1283" "3067" ...
 $ priceMax: chr  "493" "638" "1592" "3750" ...
 $ priceMod: chr  "446" "563" "1460" "3433" ...

In [219]:
tail(df,1)

        market    month  year  quantity priceMin  priceMax priceMod
10321 \302\240 \302\240 Total 789858881 646(Avg) 1211(Avg) 983(Avg)

In [220]:
df <- df %>% 
      filter( year != "Total")

In [221]:
tail(df)

         market    month year quantity priceMin priceMax priceMod
10315 YEOLA(MS) December 2010    57586      541     2713     1830
10316 YEOLA(MS) December 2011   131326      282      612      526
10317 YEOLA(MS) December 2012   207066      485     1327     1136
10318 YEOLA(MS) December 2013   215883      472     1427     1177
10319 YEOLA(MS) December 2014   201077      446     1654     1456
10320 YEOLA(MS) December 2015   223315      609     1446     1126

In [222]:
dim(df)

[1] 10320     7

In [223]:
# selecting particular columns from the df
head(df %>% 
     select(priceMin,priceMax,priceMod))

  priceMin priceMax priceMod
1      404      493      446
2      487      638      563
3     1283     1592     1460
4     3067     3750     3433
5      523      686      605
6     1327     1900     1605

In [224]:
str(df)

'data.frame':	10320 obs. of  7 variables:
 $ market  : chr  "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" ...
 $ month   : chr  "January" "January" "January" "January" ...
 $ year    : chr  "2005" "2006" "2010" "2011" ...
 $ quantity: int  2350 900 790 245 1035 675 440 1305 1400 1800 ...
 $ priceMin: chr  "404" "487" "1283" "3067" ...
 $ priceMax: chr  "493" "638" "1592" "3750" ...
 $ priceMod: chr  "446" "563" "1460" "3433" ...

In [225]:
#we see that all of them are character, we know that they are integers, so lets convert
df$quantity <- as.numeric(df$quantity)
df$year     <- as.numeric(df$year)
df$priceMin <- as.numeric(df$priceMin)
df$priceMax <- as.numeric(df$priceMax)
df$priceMod <- as.numeric(df$priceMod)

In [226]:
str(df)

'data.frame':	10320 obs. of  7 variables:
 $ market  : chr  "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" ...
 $ month   : chr  "January" "January" "January" "January" ...
 $ year    : num  2005 2006 2010 2011 2012 ...
 $ quantity: num  2350 900 790 245 1035 ...
 $ priceMin: num  404 487 1283 3067 523 ...
 $ priceMax: num  493 638 1592 3750 686 ...
 $ priceMod: num  446 563 1460 3433 605 ...

In [227]:
head(df)

      market   month year quantity priceMin priceMax priceMod
1 ABOHAR(PB) January 2005     2350      404      493      446
2 ABOHAR(PB) January 2006      900      487      638      563
3 ABOHAR(PB) January 2010      790     1283     1592     1460
4 ABOHAR(PB) January 2011      245     3067     3750     3433
5 ABOHAR(PB) January 2012     1035      523      686      605
6 ABOHAR(PB) January 2013      675     1327     1900     1605

In [228]:
summary(df)

    market             month                year         quantity
 Length:10320       Length:10320       Min.   :1996   Min.   :     15
 Class :character   Class :character   1st Qu.:2006   1st Qu.:   8862
 Mode  :character   Mode  :character   Median :2009   Median :  27414
                                       Mean   :2009   Mean   :  76537
                                       3rd Qu.:2013   3rd Qu.:  87875
                                       Max.   :2016   Max.   :1639032
    priceMin         priceMax       priceMod
 Min.   :  16.0   Min.   : 145   Min.   :  80.0
 1st Qu.: 210.0   1st Qu.: 560   1st Qu.: 450.0
 Median : 441.0   Median : 925   Median : 747.0
 Mean   : 646.2   Mean   :1211   Mean   : 982.7
 3rd Qu.: 827.0   3rd Qu.:1520   3rd Qu.:1240.2
 Max.   :6000.0   Max.   :8192   Max.   :6400.0

## Extracting the states from market names

In [229]:
library(stringr)

In [230]:
# we see that city and state are combined, lets split them up
df$market[1]
strsplit(as.character(df$market[1]),'\\(')[[1]][2]

[1] "ABOHAR(PB)"

[1] "PB)"

In [231]:
head(df)

      market   month year quantity priceMin priceMax priceMod
1 ABOHAR(PB) January 2005     2350      404      493      446
2 ABOHAR(PB) January 2006      900      487      638      563
3 ABOHAR(PB) January 2010      790     1283     1592     1460
4 ABOHAR(PB) January 2011      245     3067     3750     3433
5 ABOHAR(PB) January 2012     1035      523      686      605
6 ABOHAR(PB) January 2013      675     1327     1900     1605

In [232]:
s <- "ABOHAR(PB)"

In [233]:
t <- unlist(str_split(s, "\\("))

In [234]:
t[1]

[1] "ABOHAR"

In [235]:
df1 <- unlist(str_split(df$market, "\\("))[3]

In [236]:
head(df1)

[1] "ABOHAR"

In [237]:
tail(df)

         market    month year quantity priceMin priceMax priceMod
10315 YEOLA(MS) December 2010    57586      541     2713     1830
10316 YEOLA(MS) December 2011   131326      282      612      526
10317 YEOLA(MS) December 2012   207066      485     1327     1136
10318 YEOLA(MS) December 2013   215883      472     1427     1177
10319 YEOLA(MS) December 2014   201077      446     1654     1456
10320 YEOLA(MS) December 2015   223315      609     1446     1126

In [238]:
df <- df %>%
      mutate(market1 = market) %>%
      separate(market1, c("city", "state"), sep = "\\(") %>%

Warning message:
: Too many values at 157 locations: 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, ...Warning message:
: Too few values at 1880 locations: 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, ...

In [246]:
df$state <- df$state %>% str_replace("\\)","")

In [247]:
head(df)

      market   month year quantity priceMin priceMax priceMod   city state
1 ABOHAR(PB) January 2005     2350      404      493      446 ABOHAR    PB
2 ABOHAR(PB) January 2006      900      487      638      563 ABOHAR    PB
3 ABOHAR(PB) January 2010      790     1283     1592     1460 ABOHAR    PB
4 ABOHAR(PB) January 2011      245     3067     3750     3433 ABOHAR    PB
5 ABOHAR(PB) January 2012     1035      523      686      605 ABOHAR    PB
6 ABOHAR(PB) January 2013      675     1327     1900     1605 ABOHAR    PB

In [240]:
unique(df$state)

 [1] "PB)"     "UP)"     "GUJ)"    "MS)"     "RAJ)"    NA        "KNT)"
 [8] "OR)"     "BHR)"    "WB)"     "TN) "    "UTT)"    "MP)"     "TN)"
[15] "WHITE)"  "HR)"     "AP)"     "KER)"    "CHGARH)" "JH)"

In [241]:
unique(df$city)

  [1] "ABOHAR"        "AGRA"          "AHMEDABAD"     "AHMEDNAGAR"
  [5] "AJMER"         "ALIGARH"       "ALWAR"         "AMRITSAR"
  [9] "BALLIA"        "BANGALORE"     "BAREILLY"      "BELGAUM"
 [13] "BHATINDA"      "BHAVNAGAR"     "BHOPAL"        "BHUBNESWER"
 [17] "BIHARSHARIF"   "BIJAPUR"       "BIKANER"       "BOMBORI"
 [21] "BURDWAN"       "CHAKAN"        "CHALLAKERE"    "CHANDIGARH"
 [25] "CHANDVAD"      "CHENNAI"       "CHICKBALLAPUR" "COIMBATORE"
 [29] "DEESA"         "DEHRADOON"     "DELHI"         "DEORIA"
 [33] "DEVALA"        "DEWAS"         "DHAVANGERE"    "DHULIA"
 [37] "DINDIGUL"      "DINDORI"       "ETAWAH"        "FARUKHABAD"
 [41] "GONDAL"        "GORAKHPUR"     "GUWAHATI"      "HALDWANI"
 [45] "HASSAN"        "HOSHIARPUR"    "HUBLI"         "HYDERABAD"
 [49] "INDORE"        "JAIPUR"        "JALANDHAR"     "JALGAON"
 [53] "JAMMU"         "JAMNAGAR"      "JHANSI"        "JODHPUR"
 [57] "JUNNAR"        "KALVAN"        "KANPUR"        "KARNAL"
 [61] "KHANNA"        "KOLAR"         "KOLHAPUR"      "KOLKATA"
 [65] "KOPERGAON"     "KOTA"          "KURNOOL"       "LASALGAON"
 [69] "LONAND"        "LUCKNOW"       "LUDHIANA"      "MADURAI"
 [73] "MAHUVA"        "MALEGAON"      "MANDSOUR"      "MANMAD"
 [77] "MEERUT"        "MIDNAPUR"      "MUMBAI"        "NAGPUR"
 [81] "NANDGAON"      "NASIK"         "NEEMUCH"       "NEWASA"
 [85] "NIPHAD"        "PALAYAM"       "PATIALA"       "PATNA"
 [89] "PHALTAN "      "PIMPALGAON"    "PUNE"          "PURULIA"
 [93] "RAHATA"        "RAHURI"        "RAICHUR"       "RAIPUR"
 [97] "RAJAHMUNDRY"   "RAJKOT"        "RANCHI"        "SAGAR"
[101] "SAIKHEDA"      "SANGALI"       "SANGAMNER"     "SATANA"
[105] "SHEROAPHULY"   "SHIMLA"        "SHRIRAMPUR"    "SINNAR"
[109] "SOLAPUR"       "SRIGANGANAGAR" "SRINAGAR"      "SRIRAMPUR"
[113] "SURAT"         "TRIVENDRUM"    "UDAIPUR"       "UJJAIN"
[117] "VANI"          "VARANASI"      "YEOLA"

In [248]:
str(df)

'data.frame':	10320 obs. of  9 variables:
 $ market  : chr  "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" "ABOHAR(PB)" ...
 $ month   : chr  "January" "January" "January" "January" ...
 $ year    : num  2005 2006 2010 2011 2012 ...
 $ quantity: num  2350 900 790 245 1035 ...
 $ priceMin: num  404 487 1283 3067 523 ...
 $ priceMax: num  493 638 1592 3750 686 ...
 $ priceMod: num  446 563 1460 3433 605 ...
 $ city    : chr  "ABOHAR" "ABOHAR" "ABOHAR" "ABOHAR" ...
 $ state   : chr  "PB" "PB" "PB" "PB" ...

In [76]:
head(df)

      market   month year quantity priceMin priceMax priceMod state   city
1 ABOHAR(PB) January 2005     2350      404      493      446    PB ABOHAR
2 ABOHAR(PB) January 2006      900      487      638      563    PB ABOHAR
3 ABOHAR(PB) January 2010      790     1283     1592     1460    PB ABOHAR
4 ABOHAR(PB) January 2011      245     3067     3750     3433    PB ABOHAR
5 ABOHAR(PB) January 2012     1035      523      686      605    PB ABOHAR
6 ABOHAR(PB) January 2013      675     1327     1900     1605    PB ABOHAR

In [77]:
tail(df)

         market    month year quantity priceMin priceMax priceMod state  city
10222 YEOLA(MS) December 2010    57586      541     2713     1830    MS YEOLA
10223 YEOLA(MS) December 2011   131326      282      612      526    MS YEOLA
10224 YEOLA(MS) December 2012   207066      485     1327     1136    MS YEOLA
10225 YEOLA(MS) December 2013   215883      472     1427     1177    MS YEOLA
10226 YEOLA(MS) December 2014   201077      446     1654     1456    MS YEOLA
10227 YEOLA(MS) December 2015   223315      609     1446     1126    MS YEOLA

In [78]:
unique(df$state)

 [1] "PB"         "UP"         "GUJ"        "MS"         "RAJ"
 [6] "BANGALORE"  "KNT"        "BHOPAL"     "OR"         "BHR"
[11] "WB"         "CHANDIGARH" "CHENNAI"    "TN "        "UTT"
[16] "DELHI"      "MP"         "TN"         "GUWAHATI"   "HYDERABAD"
[21] "JAIPUR"     "WHITE"      "JAMMU"      "HR"         "KOLKATA"
[26] "AP"         "LUCKNOW"    "MUMBAI"     "NAGPUR"     "KER"
[31] "PATNA"      "CHGARH"     "JH"         "SHIMLA"     "SRINAGAR"
[36] "TRIVENDRUM"

In [79]:
unique(df$city)

  [1] "ABOHAR"        "AGRA"          "AHMEDABAD"     "AHMEDNAGAR"
  [5] "AJMER"         "ALIGARH"       "ALWAR"         "AMRITSAR"
  [9] "BALLIA"        "BANGALORE"     "BAREILLY"      "BELGAUM"
 [13] "BHATINDA"      "BHAVNAGAR"     "BHOPAL"        "BHUBNESWER"
 [17] "BIHARSHARIF"   "BIJAPUR"       "BIKANER"       "BOMBORI"
 [21] "BURDWAN"       "CHAKAN"        "CHALLAKERE"    "CHANDIGARH"
 [25] "CHANDVAD"      "CHENNAI"       "CHICKBALLAPUR" "COIMBATORE"
 [29] "DEESA"         "DEHRADOON"     "DELHI"         "DEORIA"
 [33] "DEVALA"        "DEWAS"         "DHAVANGERE"    "DHULIA"
 [37] "DINDIGUL"      "DINDORI"       "ETAWAH"        "GONDAL"
 [41] "GORAKHPUR"     "GUWAHATI"      "HALDWANI"      "HASSAN"
 [45] "HOSHIARPUR"    "HUBLI"         "HYDERABAD"     "INDORE"
 [49] "JAIPUR"        "JALANDHAR"     "JALGAON"       "JAMMU"
 [53] "JAMNAGAR"      "JODHPUR"       "JUNNAR"        "KALVAN"
 [57] "KANPUR"        "KARNAL"        "KHANNA"        "KOLAR"
 [61] "KOLHAPUR"      "KOLKATA"       "KOPERGAON"     "KOTA"
 [65] "KURNOOL"       "LASALGAON"     "LONAND"        "LUCKNOW"
 [69] "LUDHIANA"      "MADURAI"       "MAHUVA"        "MALEGAON"
 [73] "MANDSOUR"      "MANMAD"        "MEERUT"        "MIDNAPUR"
 [77] "MUMBAI"        "NAGPUR"        "NANDGAON"      "NASIK"
 [81] "NEEMUCH"       "NEWASA"        "NIPHAD"        "PALAYAM"
 [85] "PATIALA"       "PATNA"         "PHALTAN "      "PIMPALGAON"
 [89] "PUNE"          "PURULIA"       "RAHATA"        "RAHURI"
 [93] "RAICHUR"       "RAIPUR"        "RAJAHMUNDRY"   "RAJKOT"
 [97] "RANCHI"        "SAGAR"         "SAIKHEDA"      "SANGALI"
[101] "SANGAMNER"     "SATANA"        "SHEROAPHULY"   "SHIMLA"
[105] "SHRIRAMPUR"    "SINNAR"        "SOLAPUR"       "SRIGANGANAGAR"
[109] "SRINAGAR"      "SRIRAMPUR"     "SURAT"         "TRIVENDRUM"
[113] "UDAIPUR"       "UJJAIN"        "VANI"          "VARANASI"
[117] "YEOLA"

In [250]:
state_now <- c('PB', 'UP', 'GUJ', 'MS', 'RAJ', 'BANGALORE', 'KNT', 'BHOPAL', 'OR',
       'BHR', 'WB', 'CHANDIGARH', 'CHENNAI','UTT',
       'DELHI', 'MP', 'TN', 'Podis', 'GUWAHATI', 'HYDERABAD', 'JAIPUR',
       'WHITE', 'JAMMU', 'HR', 'KOLKATA', 'AP', 'LUCKNOW', 'MUMBAI',
       'NAGPUR', 'KER', 'PATNA', 'CHGARH', 'JH', 'SHIMLA', 'SRINAGAR',
       'TRIVENDRUM')

In [251]:
state_new <- c('PB', 'UP', 'GUJ', 'MS', 'RAJ', 'KNT', 'KNT', 'MP', 'OR',
       'BHR', 'WB', 'CH', 'TN', 'KNT', 'TN', 'UP',
       'DEL', 'MP', 'TN', 'TN', 'ASM', 'AP', 'RAJ',
       'MS', 'JK', 'HR', 'WB', 'AP', 'UP', 'MS',
       'MS', 'KER', 'BHR', 'HR', 'JH', 'HP', 'JK',
       'KEL')

In [252]:
df$state <- replace(df$state,state_now,state_new)

Warning message:
In replace(df$state, state_now, state_new): number of items to replace is not a multiple of replacement length

ERROR: Error in `$<-.data.frame`(`*tmp*`, "state", value = structure(c("PB", : replacement has 10356 rows, data has 10320

In [83]:
unique(df$state)

 [1] "PB"         "UP"         "GUJ"        "MS"         "RAJ"
 [6] "BANGALORE"  "KNT"        "BHOPAL"     "OR"         "BHR"
[11] "WB"         "CHANDIGARH" "CHENNAI"    "TN "        "UTT"
[16] "DELHI"      "MP"         "TN"         "GUWAHATI"   "HYDERABAD"
[21] "JAIPUR"     "WHITE"      "JAMMU"      "HR"         "KOLKATA"
[26] "AP"         "LUCKNOW"    "MUMBAI"     "NAGPUR"     "KER"
[31] "PATNA"      "CHGARH"     "JH"         "SHIMLA"     "SRINAGAR"
[36] "TRIVENDRUM"